<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="{{ site.favicon_path }}/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon_path }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="512x512" href="{{ site.favicon_path }}/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.favicon_path }}/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.favicon_path }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.favicon_path }}/favicon-16x16.png">
<!-- end custom head snippets -->
